@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-link:hover{
    background-color: #ffc107;
    border-radius: 5px;
    color: #000 !important;
}


.bottom{
    border: 1px solid gray;
}
.addBorder {
    border-left: 2px solid red;
    padding-left: 9px;
    border-radius: 5px;
}
.text-color{
    color: rgb(240, 10, 114);
}
.iconSize {
    
    width: 25%;
    height: 100%;
}
.iconSizee{
     width: 25%;
    height: 100%;
    
}

.card-body {
    margin-top: -20px !important
}
#no-hover:hover{
    background-color: none !important;
}

.card:hover{
    background-color: rgb(255, 200, 128);
}
.hoverDiff{
    background-color: rgb(0 45 112);
    color: wheat;
}
.hoverDiff:hover {
   background-color: #ffc107;
   color: rgb(40, 39, 39); 
}
.bg-color-head{
    background-color: rgb(0 45 112);
    color: aliceblue;
}
.bg-color-head  h1{    
    color: aliceblue !important;
}
.bg-color {
    background-color: rgb(0 45 112);
    padding: 50px 0 50px 0;
    color: aliceblue;
    border-radius: 10px;
}
.textAlign{
    text-align: center;
    padding:  30px 0 30px 0;   
    
}
@media (max-width:360px) {
    .textAlign{
        text-align:left;
        padding: 20px 0 20px 15px; 

        
    }
}
#id-new{
    columns: 0;
}
.navbar-toggler {
    background-color: #bcbcbc;
}
