@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-link:hover{
color: #ffe188 !important;
}


.bottom{
    border: 1px solid gray;
}
.addBorder {
    border-left: 2px solid red;
    padding-left: 9px;
    border-radius: 5px;
}
.text-color{
    color: rgb(240, 10, 114);
}
.iconSize {
    
    width: 25%;
    height: 100%;
}
.iconSizee{
     width: 25%;
    height: 100%;
    
}

.card-body {
    margin-top: -20px !important
}
#no-hover:hover{
    background-color: none !important;
}

.card:hover{
    transition: all 0.4s linear 0.1s;
    background-color: rgb(255, 200, 128);
}
.hoverDiff{
    background-color: rgb(0 45 112);
    color: white;
}
.hoverDiff:hover {
   background-color: #ffc107;
   color: rgb(40, 39, 39); 
}
.bg-color-head{
    background-color: rgb(0 45 112);
    color: aliceblue;
}
.bg-color-head  h1{    
    color: aliceblue !important;
}
.bg-color {
    background-color: rgb(0 45 112);
    padding: 50px 0 50px 0;
    color: aliceblue;
    border-radius: 10px;
}
.textAlign{
    text-align: center;
    padding:  30px 0 30px 0;    
}
@media (max-width:360px) {
    .textAlign{
        text-align:left;
        padding: 20px 0 20px 15px; 
    }
}
.navbar-toggler {
    background-color: #bcbcbc;
}
.main_logo{
    position: relative;
}

.logos{
    padding: 2rem 0rem;
    margin: 2rem 0rem;
    overflow: hidden;
    display: flex;
    box-sizing: border-box;
    background-color: rgba(237, 255, 232, 0.514);
}

.logo-slide{
  display: inline-block; 
 white-space: nowrap;
  animation: slider 20s linear  infinite   ; 
}

.two{
 
  animation: slider2 30s linear  infinite   ; 
}

.logo-slide i{
 display: inline-block;
 font-size: 5rem; 
 margin: 0 1rem;
 color: rgb(133, 15, 110);   
}
.logos::before, .logos::after{
    content: " ";    
    position: absolute;
    top: 0;    
    width: 10rem;
    height: 100%;
    z-index: 5;
}
.logos::before{
    right: 0;
    background-image:linear-gradient(to left, rgb(255, 255, 255),
     rgba(255, 255, 255, 0));
}
.logos::after{
    left: 0;
    background-image:linear-gradient(to right, rgb(255, 255, 255),
     rgba(255, 255, 255, 0));
}
.logos:hover .logo-slide{
animation-play-state: paused;
}
@keyframes slider {
    to{
        transform: translateX(70%);
    }
    from{
        transform: translateX(-100%);
    }
    
}
@keyframes slider2 {
    to{
        transform: translateX(-80%);
    }
    from{
        transform: translateX(100%);
    }
    
}

